<head></head>
    <style>
        .btn-large {
            padding: 15px 30px;
            font-size: 18px;
            width: auto;
        }
    </style>
</head>

<section id="registration" class="{{ include.class }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">Registration</h2>
                <center>
                    <p>
                      <a href="https://forms.gle/MFKJKYVxu5jx6UHK7" target="_blank" class="btn btn-primary btn-large">Registration (Google Form)</a>
                    </p>
                </center>
            </div>
        </div>
    </div>
</section>