
<section id="sponsors" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 40px;">
                <h2 class="section-heading">Sponsors </h2>

            <span>
                <a href="https://www.zhipuai.cn/">
                    <img src="assets/img/zhipu.jpg" width="200" style="margin-right: 30px; margin-bottom: 50px">
                </a>
		<a href="https://www.huawei.com/en/">
                    <img src="assets/img/huawei.jpg" width="210" style="margin-right: 30px; margin-bottom: 50px">
                </a>
		<a href="https://www.scitix.ai/">
                    <img src="assets/img/ScitiX2024.png" width="190" style="margin-right: 30px; margin-bottom: 50px">
                </a>
                <a href="https://www.6estates.com/">
                    <img src="assets/img/6estates.jpg" width="200" style="margin-right: 30px; margin-bottom: 50px">
                </a>
                <a href="https://modelbest.cn/">
                    <img src="assets/img/modelbest.jpg" width="170" style="margin-right: 30px; margin-bottom: 50px">
                </a>
            </span>
		   
		    
            </div>
        </div>
    </div>
</section>
